## Base16 Supernova
# Author: @lbcnz (https://github.com/lbcnz/supernova-theme)
#
# You can use these variables anywhere in the mako configuration file.

background-color=#2d333b
text-color=#cdd9e5
border-color=#237ef4

[urgency=low]
background-color=#2d333b
text-color=#d9b600
border-color=#237ef4

[urgency=high]
background-color=#2d333b
text-color=#d40059
border-color=#237ef4
