# Base16 Supernova
# Author: @lbcnz (https://github.com/lbcnz/supernova-theme)

[global_config]
  title_transmit_fg_color = "#cdd9e5"
  title_transmit_bg_color = "#2d333b"
  title_inactive_fg_color = "#cdd9e5"
  title_inactive_bg_color = "#909dab"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#2d333b"
    foreground_color = "#cdd9e5"
    cursor_color = "#cdd9e5"
    palette = "#2d333b:#d40059:#6bac00:#d9b600:#237ef4:#00af9e:#00a8e0:#cdd9e5:#909dab:#ff5c00:#373e47:#545d68:#adbac7:#e7f3f4:#ff66c2:#ffffff"
