! Base16 Supernova
! Author: @lbcnz (https://github.com/lbcnz/supernova-theme)

! base00: #2d333b
! base01: #373e47
! base02: #545d68
! base03: #909dab
! base04: #adbac7
! base05: #cdd9e5
! base06: #e7f3f4
! base07: #ffffff
! base08: #d40059
! base09: #ff5c00
! base0A: #d9b600
! base0B: #6bac00
! base0C: #00a8e0
! base0D: #237ef4
! base0E: #00af9e
! base0F: #ff66c2

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #373e47, #373e47, #2d333b

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #373e47, #cdd9e5, #373e47, #373e47, #ffffff
rofi.color-active:  #373e47, #237ef4, #373e47, #373e47, #237ef4
rofi.color-urgent:  #373e47, #d40059, #373e47, #373e47, #d40059

! Set the desired separator style
rofi.separator-style: solid
