[colors]
# Base16 Supernova
# Author: @lbcnz (https://github.com/lbcnz/supernova-theme)

foreground          = #cdd9e5
foreground_bold     = #cdd9e5
cursor              = #cdd9e5
cursor_foreground   = #2d333b
background          = #2d333b

# 16 color space

# Black, Gray, Silver, White
color0  = #2d333b
color8  = #909dab
color7  = #cdd9e5
color15 = #ffffff

# Red
color1  = #d40059
color9  = #d40059

# Green
color2  = #6bac00
color10 = #6bac00

# Yellow
color3  = #d9b600
color11 = #d9b600

# Blue
color4  = #237ef4
color12 = #237ef4

# Purple
color5  = #00af9e
color13 = #00af9e

# Teal
color6  = #00a8e0
color14 = #00a8e0

# Extra colors
color16 = #ff5c00
color17 = #ff66c2
color18 = #373e47
color19 = #545d68
color20 = #adbac7
color21 = #e7f3f4
