# Base16 Supernova
# Author: @lbcnz (https://github.com/lbcnz/supernova-theme)

_gen_fzf_default_opts() {

local color00='#2d333b'
local color01='#373e47'
local color02='#545d68'
local color03='#909dab'
local color04='#adbac7'
local color05='#cdd9e5'
local color06='#e7f3f4'
local color07='#ffffff'
local color08='#d40059'
local color09='#ff5c00'
local color0A='#d9b600'
local color0B='#6bac00'
local color0C='#00a8e0'
local color0D='#237ef4'
local color0E='#00af9e'
local color0F='#ff66c2'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
