/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Supernova scheme by @lbcnz (https://github.com/lbcnz/supernova-theme) */

window {
	background-color: #2d333b;
	color: #cdd9e5;
}

#entry:nth-child(odd) {
	background-color: #2d333b;
}

#entry:nth-child(even) {
	background-color: #373e47;
}

#entry:selected {
	background-color: #545d68;
}

#input {
	background-color: #373e47;
	color: #adbac7;
	border-color: #545d68; 
}

#input:focus {
	border-color: #d9b600; 
}
