# Base16 Supernova
# Author: @lbcnz (https://github.com/lbcnz/supernova-theme)

set default-bg                  "#2d333b"
set default-fg                  "#373e47"

set statusbar-fg                "#adbac7"
set statusbar-bg                "#545d68"

set inputbar-bg                 "#2d333b"
set inputbar-fg                 "#ffffff"

set notification-bg             "#2d333b"
set notification-fg             "#ffffff"

set notification-error-bg       "#2d333b"
set notification-error-fg       "#d40059"

set notification-warning-bg     "#2d333b"
set notification-warning-fg     "#d40059"

set highlight-color             "#d9b600"
set highlight-active-color      "#237ef4"

set completion-bg               "#373e47"
set completion-fg               "#237ef4"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#237ef4"

set recolor-lightcolor          "#2d333b"
set recolor-darkcolor           "#e7f3f4"
