## Base16 Supernova
# Author: @lbcnz (https://github.com/lbcnz/supernova-theme)
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #2d333b
set $base01 #373e47
set $base02 #545d68
set $base03 #909dab
set $base04 #adbac7
set $base05 #cdd9e5
set $base06 #e7f3f4
set $base07 #ffffff
set $base08 #d40059
set $base09 #ff5c00
set $base0A #d9b600
set $base0B #6bac00
set $base0C #00a8e0
set $base0D #237ef4
set $base0E #00af9e
set $base0F #ff66c2
